{
  "type": "mongodb",
  "url": "mongodb+srv://<USER>:<PASWORD>@<MONGODBURL>/",
  "database": "DBNAME",
  "entities": ["src/**/**.entity{.ts,.js}"],
  "synchronize": false,
  "useNewUrlParser": true,
  "useUnifiedTopology": true
}
